In [1]:
import pandas as pd
from jinja2.utils import concat

In [2]:
print(pd.__version__)

2.3.3

Series create, manipulate, querry, delete

Series Creation

In [3]:
arr = [10, 20, 30, 40, 50]
s = pd.Series(arr)
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
s2 = pd.Series(arr, index=['a', 'b', 'c', 'd', 'e'])
s2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [5]:
import numpy as np
n= np.random.randn(5)
index = ['a', 'b', 'c', 'd', 'e']
s2 = pd.Series(n, index=index)
s2

a   -1.241364
b    0.004335
c    0.594279
d    0.801864
e    0.967889
dtype: float64

In [6]:
d={'a':10, 'b':20, 'c':30}
s3 = pd.Series(d)
s3

a    10
b    20
c    30
dtype: int64

In [8]:
print(s)
s.index =['one', 'two', 'three', 'four', 'five']
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64
one      10
two      20
three    30
four     40
five     50
dtype: int64

In [10]:
s[:3]

one      10
two      20
three    30
dtype: int64

In [16]:
s4=pd.concat([s3, s2])
s4

a    10.000000
b    20.000000
c    30.000000
a    -1.241364
b     0.004335
c     0.594279
d     0.801864
e     0.967889
dtype: float64

In [21]:
print(s4)

b    20.000000
c    30.000000
b     0.004335
c     0.594279
d     0.801864
e     0.967889
dtype: float64

In [22]:
arr1= [0, 1, 2, 3, 4,10,11]
arr2= [5, 6, 7, 8, 9]

In [23]:
s5 =pd.Series(arr2)
s5

0    5
1    6
2    7
3    8
4    9
dtype: int64

In [24]:
s6=pd.Series(arr1)
s6

0     0
1     1
2     2
3     3
4     4
5    10
6    11
dtype: int64

In [25]:
s5.add(s6)

0     5.0
1     7.0
2     9.0
3    11.0
4    13.0
5     NaN
6     NaN
dtype: float64

In [26]:
s5.sub(s6)

0    5.0
1    5.0
2    5.0
3    5.0
4    5.0
5    NaN
6    NaN
dtype: float64

In [28]:
s5.mul(s6)

0     0.0
1     6.0
2    14.0
3    24.0
4    36.0
5     NaN
6     NaN
dtype: float64

In [29]:
s5.div(s6)

0         inf
1    6.000000
2    3.500000
3    2.666667
4    2.250000
5         NaN
6         NaN
dtype: float64

In [32]:
print(s6)
print('median:', s6.median())
print('mean:', s6.mean())
print('max:', s6.max())
print('min:', s6.min())

0     0
1     1
2     2
3     3
4     4
5    10
6    11
dtype: int64
median: 3.0
mean: 4.428571428571429
max: 11
min: 0

Create Dataframe

In [35]:
dates= pd.date_range('today', periods=6)
num_arr = np.random.randn(6,4)
columns = ['A', 'B', 'C', 'D']
df1 = pd.DataFrame(num_arr, index=dates, columns=columns)
df1

                                   A         B         C         D
2025-10-20 15:03:34.446780 -1.209956 -0.700494  0.406015  0.989560
2025-10-21 15:03:34.446780  1.748331  0.698427 -1.037681 -0.521846
2025-10-22 15:03:34.446780  0.016155 -0.674393  0.964905  0.103489
2025-10-23 15:03:34.446780 -2.167415 -0.922028 -0.801349 -1.324479
2025-10-24 15:03:34.446780  1.113541 -0.402955 -0.159015 -0.764710
2025-10-25 15:03:34.446780  0.566823 -1.009427  1.430310  0.428727

In [36]:
data = {'animals': ['cat', 'dog', 'bird', 'fish'],
        'age': [2, 5, 3, 1],
        'weight': [4.5, 20.2, 0.5, 0.3],
         'priority': ['high', 'medium', 'low', 'medium']
}
labels = ['a', 'b', 'c', 'd']
df2 = pd.DataFrame(data, index=labels)
df2

  animals  age  weight priority
a     cat    2     4.5     high
b     dog    5    20.2   medium
c    bird    3     0.5      low
d    fish    1     0.3   medium

In [37]:
df2.dtypes

animals      object
age           int64
weight      float64
priority     object
dtype: object

In [38]:
df2.head(3)

  animals  age  weight priority
a     cat    2     4.5     high
b     dog    5    20.2   medium
c    bird    3     0.5      low

In [39]:
df2.tail(2)

  animals  age  weight priority
c    bird    3     0.5      low
d    fish    1     0.3   medium

In [42]:
df2.index
df2.columns

Index(['animals', 'age', 'weight', 'priority'], dtype='object')

In [43]:
df2.values

array([['cat', 2, 4.5, 'high'],
       ['dog', 5, 20.2, 'medium'],
       ['bird', 3, 0.5, 'low'],
       ['fish', 1, 0.3, 'medium']], dtype=object)

In [44]:
df2.describe()

            age     weight
count  4.000000   4.000000
mean   2.750000   6.375000
std    1.707825   9.417493
min    1.000000   0.300000
25%    1.750000   0.450000
50%    2.500000   2.500000
75%    3.500000   8.425000
max    5.000000  20.200000

In [45]:
df2.T

             a       b     c       d
animals    cat     dog  bird    fish
age          2       5     3       1
weight     4.5    20.2   0.5     0.3
priority  high  medium   low  medium

In [46]:
df2.sort_values(by='age')

  animals  age  weight priority
d    fish    1     0.3   medium
a     cat    2     4.5     high
c    bird    3     0.5      low
b     dog    5    20.2   medium

In [49]:
df2.sort_values(by='age')[1:3]

  animals  age  weight priority
a     cat    2     4.5     high
c    bird    3     0.5      low

In [50]:
df2[['animals', 'weight']]

  animals  weight
a     cat     4.5
b     dog    20.2
c    bird     0.5
d    fish     0.3

In [51]:
df2.iloc[1:3, 0:2]

  animals  age
b     dog    5
c    bird    3

In [52]:
df3 = df2.copy()
df3

  animals  age  weight priority
a     cat    2     4.5     high
b     dog    5    20.2   medium
c    bird    3     0.5      low
d    fish    1     0.3   medium

In [53]:
df3.isnull()

   animals    age  weight  priority
a    False  False   False     False
b    False  False   False     False
c    False  False   False     False
d    False  False   False     False

In [56]:
df3.loc['e'] = [None, None, None, None]
df3

  animals   age  weight priority
a     cat     2     4.5     high
b     dog     5    20.2   medium
c    bird     3     0.5      low
d    fish     1     0.3   medium
e    None  None     NaN     None

In [57]:
df3[['age']].mean()

age    2.75
dtype: object

In [59]:
df3.mean()

TypeError: can only concatenate str (not "int") to str

In [60]:
df3

  animals   age  weight priority
a     cat     2     4.5     high
b     dog     5    20.2   medium
c    bird     3     0.5      low
d    fish     1     0.3   medium
e    None  None     NaN     None

In [61]:
df3['weight'].sum()

np.float64(25.5)

In [62]:
df3.sum()

TypeError: can only concatenate str (not "int") to str

In [63]:
string = pd.Series(['A', 'B', 'C', 'D', 'E',np.nan,'CBA','cow','owl'])
string.str.upper()

0      A
1      B
2      C
3      D
4      E
5    NaN
6    CBA
7    COW
8    OWL
dtype: object

In [65]:
df4=df3.copy()
df3.fillna(4)

C:\Users\Sunan\AppData\Local\Temp\ipykernel_19712\2828641928.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3.fillna(4)

  animals  age  weight priority
a     cat    2     4.5     high
b     dog    5    20.2   medium
c    bird    3     0.5      low
d    fish    1     0.3   medium
e       4    4     4.0        4

In [66]:
df3.to_csv('animal.csv')

In [68]:
df_animal = pd.read_csv('animal.csv')
df_animal.head(3)

  Unnamed: 0 animals  age  weight priority
0          a     cat  2.0     4.5     high
1          b     dog  5.0    20.2   medium
2          c    bird  3.0     0.5      low

In [72]:
df3.to_excel('animal.xlsx', sheet_name='Sheet1')

In [73]:
df_animal2 = pd.read_excel('animal.xlsx', sheet_name='Sheet1')
df_animal2

  Unnamed: 0 animals  age  weight priority
0          a     cat  2.0     4.5     high
1          b     dog  5.0    20.2   medium
2          c    bird  3.0     0.5      low
3          d    fish  1.0     0.3   medium
4          e     NaN  NaN     NaN      NaN